<div class="container">
  <div>
    <h2 class="title">Workout Progress</h2>
    <hr class="rounded">
  </div>
  @for (exercise of exercises; track exercise; let i = $index) {
    <app-exercise-card (skipExercise)="skipExercise($event)" [exercise]="exercise" [activeExercise]="i == 0"></app-exercise-card>
  }
  <div class="finish-container" *ngIf="exercises.length == 0">
    <h3 class="title finished" >Workout finished! 🎉</h3>
    <a class="results" mat-flat-button color="primary" routerLink="/finish">View Results</a>
  </div>
</div>
